
body {
    background-color: skyblue;
}

h1 {
    color: red;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}



input, #colorPicker {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}


#textContainer {
    margin-bottom: 2rem;;
}

#gridCOntainer {
    display: flex;

}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
}

#pixelCanvas {
    
    outline: 1px solid #000;
    height: 500px;
    width: 500px;
    background-color: white;
    
}

td {
    aspect-ratio: 1/1;
    outline: 1px solid rgb(178, 37, 37);
    width: 0.1%;
    white-space: nowrap;
    
}

